body {
  background-color: #121416;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Helvetica;
}
body .checkout-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
}
body .checkout-container header {
  color: rgb(255, 255, 255);
  display: flex;
  width: auto;
  padding: 48px 24px;
  justify-content: space-between;
  align-items: center;
}
body .checkout-container header a, body .checkout-container header a:hover, body .checkout-container header a:active {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 74px;
  border: 0px solid #373d43;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  color: inherit;
}
body .checkout-container header a:visited {
  color: inherit;
}
body .checkout-container header a:hover, body .checkout-container header a:active {
  text-decoration: none;
}
body .checkout-container section {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
}
body .checkout-container section h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}
body .loader-container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
}
body .loader-container .icon-container {
  align-items: center;
}
body .loader-container .loader-text1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
body .loader-container .loader-animated-text {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  animation: fadeDown 5s linear infinite, moveDown 5s linear infinite;
}
@keyframes fadeDown {
  0%, 100% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
}
@keyframes moveDown {
  0%, 100% {
    top: 10%;
  }
  50% {
    top: 100%;
  }
}
body .success-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
}
body .success-container header {
  color: rgb(255, 255, 255);
  display: flex;
  width: auto;
  padding: 48px 24px;
  justify-content: space-between;
  align-items: center;
}
body .success-container header a, body .success-container header a:hover, body .success-container header a:active {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 74px;
  border: 0px solid #373d43;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  color: inherit;
}
body .success-container header a:visited {
  color: inherit;
}
body .success-container header a:hover, body .success-container header a:active {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
