@font-face {
  font-family: "Stolzl";
  src: url("src/assets/Stolzl-Medium.ttf") format("truetype");
}
/*@font-face {
  font-family: 'Stolzl';
  src: local('Stolzl Regular'), local('Stolzl-Regular'),
      url('Stolzl-Regular.woff2') format('woff2'),
      url('Stolzl-Regular.woff') format('woff'),
      url('Stolzl-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/
body {
  background-color: #121416;
  color: rgb(255, 255, 255);
  font-family: "Stolzl", sans-serif;
}
body .checkout-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
  margin: 12px;
}
body .checkout-container header {
  color: rgb(255, 255, 255);
  display: flex;
  width: auto;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}
body .checkout-container header a, body .checkout-container header a:hover, body .checkout-container header a:active {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 74px;
  border: 0px solid #373d43;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  color: inherit;
}
body .checkout-container header a:visited {
  color: inherit;
}
body .checkout-container header a:hover, body .checkout-container header a:active {
  text-decoration: none;
}
body .checkout-container h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.25px;
}
body .checkout-container section {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
}
body .checkout-container section .plan-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body .checkout-container section .plan-price-container h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
body .checkout-container section .plan-price-container .plan-price {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
body .checkout-container section .plan-price-container .plan-price p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
body .checkout-container section .plan-price-container .plan-price span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.6px;
}
body .checkout-container section .plan-price-container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
body .checkout-container section .plan-description {
  display: flex;
  padding: 12px;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gradient-primary, #ef426f);
  background: rgba(0, 0, 0, 0.2);
}
body .checkout-container section .plan-description .incluye {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.6px;
}
body .checkout-container section .plan-description .dias-prueba {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  width: -webkit-fill-available;
}
body .checkout-container section .plan-description .dias-prueba p {
  margin: 0;
  background: var(--gradient-primary, linear-gradient(97deg, #ef426f 34.9%, #f0f179 98.88%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .checkout-container section .plan-description .dias-prueba span {
  margin: 0;
  color: var(--base-white, #fff);
}
body .checkout-container section .plan-description .fecha-inicio {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
body .checkout-container section .payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: -webkit-fill-available;
  gap: 10px;
}
body .checkout-container section .payment-method svg {
  margin-inline-start: auto;
}
body .checkout-container section button {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #25292d;
}
body .checkout-container .total-price {
  display: flex;
  justify-content: space-between;
}
body .checkout-container .total-price p {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
body .checkout-container .final-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
body .checkout-container button {
  display: flex;
  height: 52px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background: #ef426f;
}
body .loader-container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-around;
  text-align: center;
}
body .loader-container .icon-container {
  align-items: center;
}
body .loader-container .loader-text1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
body .loader-container .loader-animated-text {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Stolzl", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  animation: fadeDown 5s linear infinite, moveDown 5s linear infinite;
}
@keyframes fadeDown {
  0%, 100% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
}
@keyframes moveDown {
  0%, 100% {
    top: 10%;
  }
  50% {
    top: 100%;
  }
}
body .success-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  text-align: center;
}
body .success-container header {
  color: rgb(255, 255, 255);
  display: flex;
  width: auto;
  padding: 24px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
body .success-container header a, body .success-container header a:hover, body .success-container header a:active {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 74px;
  border: 0px solid #373d43;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
  color: inherit;
}
body .success-container header a:visited {
  color: inherit;
}
body .success-container header a:hover, body .success-container header a:active {
  text-decoration: none;
}
body .success-container .message .muy-bien {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
body .success-container .message .comenzar-text {
  color: var(--base-alpha-white-70, rgba(255, 255, 255, 0.7));
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
body .success-container button {
  color: rgb(255, 255, 255);
  background: #25292d;
  height: 52px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #25292d;
}

/*# sourceMappingURL=styles.css.map */
